APScheduler==3.6.3
arrow==0.17.0
bcrypt
celery==5.0.2
certifi==2020.11.8
cssselect==1.1.0
dnspython==2.0.0
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-APScheduler==1.11.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.9
Flask-JWT-Extended==3.25.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.4
pymysql
Flask-WTF==0.14.3
gunicorn==20.0.4
Jinja2==2.11.2
MarkupSafe==1.1.1
MouseInfo==0.1.3
queuelib==1.5.0
requests==2.25.0
selenium==3.141.0
service-identity==18.1.0
soupsieve==2.0.1
SQLAlchemy==1.3.20
tzlocal==2.1
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
WTForms==2.3.3
